.text-brandblue {
  color: rgb(60, 100, 246) !important;
}

.bg-brandblue {
  background: rgb(60, 100, 246) !important;
}

.text-brandwhite {
  color: #ECF3F3 !important;
}

.bg-brandwhite {
  background-color: #ECF3F3 !important;
}

.text-brandgradient {
  background: -webkit-linear-gradient(-70deg, #3b7bf6, #a866db, #da53b2, #ef4f84, #ed5f59);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
}

.bg-brandgradient {
  background-image: linear-gradient(to right bottom, #3b7bf6, #5f94f8, #df68bb, #ef4f84, #ed5f59);
}
